* {
    padding: 0;
    margin: 0;
    font-family: candyRainbow, sans-serif;
}

body {
    background-color: rainbow infinite 8s;
}

.hidden {
    display: none;
}

@font-face {
    font-family: candyRainbow;
    src: url(candy-rainbow.regular.ttf);
}

@keyframes rainbow {
    0%   {border: 2px solid red}
    18%  {border: 2px solid orange}
    36%  {border: 2px solid yellow}
    54%  {border: 2px solid green}
    72% {border: 2px solid blue}
    90% {border: 2px solid indigo}
    100% {border: 2px solid violet}
}

@keyframes rainbowColor {
    0%   {color: red}
    18%  {color: orange}
    36%  {color: yellow}
    54%  {color: green}
    72% {color: blue}
    90% {color: indigo}
    100% {color: violet}
}

/* SEC-TOP */

#sec-top {
    padding: 2em 1em;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

#sec-top input {
    width: 11%;
    max-width: 60px;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
  }
  
#sec-top select {
    background-color: white;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.4em;
}

#menu {
    padding: 0.34em;
    border: 2px solid #D1D5DB;
    border-radius: 5px;
    width: 30%;
    display: flex;
    align-items: center;
}

#sec-top div {
    border: 2px solid #D1D5DB;
    border-radius: 5px;
    padding: 0.5em;
}

.fa-chevron-down {
    color: #D1D5DB;
}

#sec-top button {
    background-color: white;
    border: 2px solid #D1D5DB;
    padding: 0.42em;
    border-radius: 5px;
    font-size: 1.2em;
}

/* SEC-TOP HOVERS */

#sec-top input:hover {
    animation: rainbow infinite 8s;
}

#sec-top div:hover {
    animation: rainbow infinite 8s;
}

#sec-top button:hover {
    animation: rainbow infinite 8s;
}

/* SEC-BTM */

#sec-btm {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 0 0.8em;    
    }

#sec-btm div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    border-radius: 10px;
}
  
 span {
    width: 100%;
    height: 70vh;
  }

#sec-btm h4 {
    font-size: 1.2em;
}

/* SEC-BTM HOVER*/

span:hover {
    opacity: 0.96;
}

h4:hover {
    animation: rainbowColor infinite 5s;
}
